.textos1{
    font-weight: 'bold' !important;
    color: black;
}

.imagem{
    background-image: url(https://i.imgur.com/32UnokD.png);
    background-repeat:no-repeat; 
    width:100vh; 
    min-height:100vh;
    background-size: 90%;
    background-position:center;
    
}

.grid2{
    background: rgb(242,203,7);
    background: -moz-linear-gradient(90deg, rgba(242,203,7,1) 0%, rgba(166,157,31,1) 33%, rgba(84,115,70,1) 67%, rgba(7,84,115,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(242,203,7,1) 0%, rgba(166,157,31,1) 33%, rgba(84,115,70,1) 67%, rgba(7,84,115,1) 100%);
    background: linear-gradient(90deg, rgba(242,203,7,1) 0%, rgba(166,157,31,1) 33%, rgba(84,115,70,1) 67%, rgba(7,84,115,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2cb07",endColorstr="#075473",GradientType=1);
}

.text-decoraton-none{
    text-decoration: none;
}

.cor-botao{
    background-color: #F2CB07 !important;
    
}


