.imagem2{
    background-image: url(https://i.imgur.com/xugsSk9.png);
    background-repeat:no-repeat; 
    width:100vh; 
    min-height:100vh;
    background-size: 90%;
    background-position:center;
    
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}

.text-decorator-none{
    text-decoration: none;
}